<div class="row">
  <div class="col-12 px-5">
    <h1>Choose your SuperHero</h1>
  </div>
</div>

<div>
  <main class="p-4">
    <div class="row justify-content-center">
      <% @services.each do |service| %>
        <div class="col-md-auto">
          <div class="card mb-3 rounded shadow" style="width: 18rem;">
            <% if service.photo.attached? %>
              <%= cl_image_tag service.photo.key, class: "card-img-top", alt: "Card image cap", height: "200" %>
            <% else %>
              <%= image_tag "herohub.jpg", class: "card-img-top", alt: "Card image cap", height: "200" %>
            <% end %>
            <div class="card-body">
              <h5 class="card-title"><%= service.superhero_name %></h5>
              <p class="card-text"><%= service.bio %></p>
              <a href="services/<%= service.id %>" class="btn btn-flat">See more</a>
              <div class="card-footer">
                <small class="text-muted">¥ <%= service.fee %> / day</small>
              </div>
            </div>
          </div>
        </div>
        <% end %>
    </div>
  </main>
</div>
