<div class="row">
  <div class="col-12 px-5">
    <h1>New listing</h1>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-6">
    <div class="card p-5 rounded shadow">
      <%= simple_form_for(@service) do |f| %>
        <%= f.input :superhero_name %>
        <%= f.input :photo, as: :file %>
        <%= f.input :race %>
        <%= f.input :team %>
        <%= f.input :powers %>
        <%= f.input :bio %>
        <%= f.input :fee %>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>
