<div>
  <div>
  </div>
  <div>
    <h1>
      <%= @service.superhero_name %>
    </h1>
    <p>
      <strong>I am a </strong>
      <%= service.race %>
    </p>

    <p>
      <strong>My powers are </strong>
      <%= service.powers %>
    </p>

    <h3>
      <strong>I'm yours for <%= service.fee %> /day</strong>
    </h3>

    <div class="team">
    <p>
      <strong>I belong to the </strong>
      <%= service.team %>
    </p>
    </div>

    <p><strong>About me: </strong></p>
      <%= service.bio %>
  </div>


</div>
