<div class="card-service">

  <%= cl_image_tag @service.photo.key, crop: :fill %>

  <div class="card-service-infos">

    <h1>
      <%= @service.superhero_name %>
    </h1>
    <div class="d-grid gap-2">
      <p>
        <strong>I am a </strong>
        <%= @service.race %>
      </p>

      <p>
        <strong>My powers are </strong>
        <%= @service.powers %>
      </p>

      <div class="team">
        <p>
          <strong>I belong to the </strong>
          <%= @service.team %>
        </p>
      </div>

      <p><strong>About me: </strong>
        <%= @service.bio %>
      </p>
    </div>

    <h3>
      <strong>I'm yours for ¥<%= @service.fee %> /day</strong>
    </h3>

  </div>
  <div class="card-service-infos border-dark border-start">
    <%= simple_form_for([@service, @booking]) do |f| %>
      <%= f.input :date %>
      <%= f.input :location %>
      <%= f.input :comments %>
      <%= f.submit "Book my services", class: "btn btn-flat w-100" %>
    <% end %>
  </div>
</div>
