<div class="container">
  <div class="booking-page">
    <h1 style="padding-left: 5px">My Sup' dashboard</h1>
    <br>
      <div class="d-flex flex-row justify-content-md-between">
        <div class="p-2">
          <div class="d-flex">
            <div class="card mb-6 rounded shadow overflow-auto" style="width: 32rem; height: 260px">
              <div class="card-body">
                <h5 class="card-header" style="margin-bottom: 10px">Coming bookings</h5>
                <ul class="list-group list-group-flush">
                <% if @bookings.count == 0 %>
                  <li class="list-group-item">You don't have any coming booking yet</li>
                <% else %>
                  <% @bookings.each do |booking| %>
                    <% if booking.date >= Date.today && booking.status == "accepted" %>
                      <li class="list-group-item"><%= User.find(booking.user_id).username %> - <%= booking.date %> - <%= booking.location %> - <%= booking.comments %></li>
                    <% else %>
                      <li class="list-group-item">You don't have any coming booking yet</li>
                    <% end %>
                  <% end %>
                <% end %>
                </ul>
              </div>
            </div>
          </div>
          <br><br>
          <div class="d-flex mt-3">
            <div class="card mb-6 rounded shadow overflow-auto" style="width: 32rem; height: 260px">
              <div class="card-body">
                <h5 class="card-header" style="margin-bottom: 10px">Previous bookings</h5>
                <ul class="list-group list-group-flush">
                <% if @bookings.count == 0 %>
                  <li class="list-group-item">You don't have any previous booking yet</li>
                <% else %>
                  <% @bookings.each do |booking| %>
                    <% if booking.date < Date.today && booking.status == "accepted" %>
                      <li class="list-group-item"><%= User.find(booking.user_id).username %> - <%= booking.date %> - <%= booking.location %> - <%= booking.comments %></li>
                    <% else %>
                      <li class="list-group-item">You don't have any previous booking yet</li>
                    <% end %>
                  <% end %>
                <% end %>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="p-2">
          <div class="card mb-6 rounded shadow overflow-auto" style="width: 32rem; height: 585px">
            <div class="card-body">
              <h5 class="card-header" style="margin-bottom: 10px">Bookings to Confirm</h5>
              <ul class="list-group list-group-flush">
              <% if @bookings.where(status: "pending").count == 0 %>
                <li class="list-group-item">You don't have any pending booking yet</li>
              <% else %>
                <% @bookings.each do |booking| %>
                  <% if booking.status == "pending" %>
                  <div class="card-body">
                  <p>From <%= User.find(booking.user_id).username %>, on <%= booking.date %> in <%= booking.location %></p>
                  <p><%= booking.comments %></p>
                  <%# <a class="btn btn-outline-success btn-sm" href="#" role="button"><i class="fa-solid fa-check"></i>   Accept</a>
                  <a class="btn btn-outline-danger btn-sm" href="#" role="button"><i class="fa-solid fa-xmark"></i>   Decline</a> %>

                  <%= link_to "Accept",
                    accept_superheroes_booking_path(booking), class:"btn btn-outline-success btn-sm",
                    data: {turbo_method: :patch, turbo_confirm: "Are you sure you want to accept?"}
                  %>
                  <%= link_to "Decline",
                    decline_superheroes_booking_path(booking), class:"btn btn-outline-danger btn-sm",
                    data: {turbo_method: :patch, turbo_confirm: "Are you sure you want to decline?"}
                  %>
                  <p></p>
                  </div>
                  <% end %>
                  <% end %>
              <% end %>
              </ul>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
