
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path "herobanner.gif" %>);">
  <div class="p-5">
    <h1>Have you always dreamed of having superpowers?</h1>
    <p>No need to dream anymore, just book a day with a mighty SuperHero</p>
    <%= link_to services_path do %>
    <button class="btn btn-flat">See all SuperHeroes</button>
    <% end %>
  </div>
</div>

<div class="container pt-5 text-center">
  <h2>Almighty solutions for almighty problems</h2>
  <p>Browse all the SuperHeroes available, learn more about them and check their skills, ask all the questions you need and book their time.<br> Dozens of SuperHeroes ready to lend you a hand, only one click away.</p>
</div>

<div class="cards p-4">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path "superhero-of-the-month.jpg" %>)">
    Superhero of the month
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path "faq.jpg" %>)">
    FAQ
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path "lend-your-power.jpg" %>)">
    Lend your powers
  </div>
</div>
