<!DOCTYPE html>
<html>
  <head>
    <title>Herohub</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link href="sticky-footer-navbar.css" rel="stylesheet">
  </head>


  <body>
  <%= render "shared/flashes" %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

<%# NAVBAR %>
    <div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top">
      <div class="container-fluid">

    <%# LOGO %>
        <%= link_to root_path, class: "navbar-brand" do %>
          <%= image_tag "herohub2.jpg" %>
        <% end %>
    <%# LOGO END %>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto">

    <%# DROPDOWN MENU %>
            <li class="nav-item active">
              <div class="btn-group dropdown">
                <button type="button" class="nav-link yellow" data-bs-toggle="dropdown" aria-expanded="false">
                  I'm a Superhero
                </button>
                <ul class="dropdown-menu">
                  <li><%= link_to "Lend my Powers", new_service_path, class: "dropdown-item" %></li>
                  <% if current_user %>
                    <% if current_user.service %>
                      <li><%= link_to "My Powers Page", service_path(current_user.service), class: "dropdown-item" %></li>
                      <li><%= link_to "My Super Bookings", superheroes_bookings_path, class: "dropdown-item" %></li>
                    <% end %>
                  <% end %>
                </ul>
              </div>
            </li>
    <%# DROPDOWN MENU END%>

    <%# OTHER BUTTONS %>
            <li class="nav-item active">
              <%= link_to "Home", root_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Superheroes", services_path, class: "nav-link" %>
            </li>
            <li class="nav-item active">
              <%= link_to "My bookings", bookings_path, class: "nav-link" %>
            </li>
    <%# OTHER BUTTONS END%>

            <li class="nav-item dropdown">
            <% if user_signed_in? %>
              <% if current_user.avatar.attached? %>
                <%= cl_image_tag current_user.avatar.key, class: "avatar-large dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              <% else %>
                <%= image_tag "https://avatars.githubusercontent.com/u/144430313?v=4", class: "avatar-large dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              <% end %>
              <% else %>
                  <%= link_to "Log in", new_user_session_path, class: "nav-link", data: {turbo_method: :get} %>
            <% end %>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <%= link_to "Profile", "#", class: "dropdown-item" %>
                <%= link_to "Settings", "#", class: "dropdown-item" %>
                <% if user_signed_in? %>
                  <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %>
                <% else %>
                <% end %>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
<%# NAVBAR END %>

<%# PAGE %>
      <div class="main-display container">
        <%= yield %>
      </div>
<%# PAGE END %>

   <%# footer start %>
    <div class="text-white text-start footer-background p-5 mt-5">
      <div class="row pb-5">
        <div class="col-sm-3">
          <p>FAQ</p>
          <p>About HeroHub</p>
          <p>Press</p>
        </div>
        <div class="col-sm-3">
          <p>Sitemap</p>
          <p>Join Us</p>
          <p>Contact Us</p>
        </div>
        <div class="col-sm-3">
          <p>Privacy Policy</p>
          <p>Legal Notice</p>
        </div>
      </div>
      <div class="row border-top pt-4">
        <div class="col-sm-6">
        <p>© 2023 HeroHub, Inc. All rights reserved.</p>
        </div>
        <div class="col-sm-6 text-end">
          <ul class="list-horizontal">
            <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
    <%# footer end %>

  </body>
</html>
